# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Neo4j
neo4j/
**/neo4j/

# Docker
.docker

# Virtual environment
venv/
.env

# IDE
.idea/
.vscode/

# Logs
logs/
**/logs/

# Build
*.egg-info/
dist/
build/
